<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-lazy-init="true">
    <!-- 自动检索并注册Mapper -->
    <context:component-scan base-package="team.yingyingmonster.ccbs.database.mapper"/>
    <context:property-placeholder file-encoding="UTF-8" location="classpath:database.properties"/>

    <!--数据源配置-->
    <bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
        <!--基本配置-->
        <property name="driver" value="${jdbc.driverClass}"/>
        <property name="driverUrl" value="${jdbc.connectionURL}"/>
        <property name="user" value="${jdbc.userId}"/>
        <property name="password" value="${jdbc.password}"/>
        <!--连接池配置-->
        <property name="minimumConnectionCount" value="${datasource.minConnection}"/>
        <property name="maximumConnectionCount" value="${datasource.maxConnection}"/>
        <property name="prototypeCount" value="${datasource.prototypeNum}"/>
        <property name="houseKeepingTestSql" value="${datasource.houseKeepingTestSql}"/>
        <property name="statistics" value="${datasource.statistics}"/>
        <property name="statisticsLogLevel" value="${datasource.statisticsLogLevel}"/>
    </bean>

    <!--会话工厂配置（由MyBatis的Spring插件接管）-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:team/yingyingmonster/ccbs/database/mapper/mybatis.xml"/>
    </bean>

    <!--交由Spring扫描所有的Mapper，并注册为Bean-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="team.yingyingmonster.ccbs.database.mapper"/>
        <!--<property name="markerInterface" value="priv.juergenie.ssmtest.model.mapper.MapperMarker"/>-->
    </bean>

    <!--事务管理配置-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>