<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.yingyingmonster.ccbs.database.mapper.LogMapper" >
  <resultMap id="BaseResultMap" type="team.yingyingmonster.ccbs.database.bean.Log" >
    <id column="LOGID" property="logid" jdbcType="DECIMAL" />
    <result column="LOGTIME" property="logtime" jdbcType="TIMESTAMP" />
    <result column="LOGLEVEL" property="loglevel" jdbcType="VARCHAR" />
    <result column="LOGCLASS" property="logclass" jdbcType="VARCHAR" />
    <result column="LOGLOCATE" property="loglocate" jdbcType="VARCHAR" />
    <result column="LOGTHREAD" property="logthread" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="team.yingyingmonster.ccbs.database.bean.Log" extends="BaseResultMap" >
    <result column="LOGMESSAGE" property="logmessage" jdbcType="CLOB" />
  </resultMap>
  <sql id="Base_Column_List" >
    LOGID, LOGTIME, LOGLEVEL, LOGCLASS, LOGLOCATE, LOGTHREAD
  </sql>
  <sql id="Blob_Column_List" >
    LOGMESSAGE
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from LOG_TABLE
    where LOGID = #{logid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from LOG_TABLE
    where LOGID = #{logid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="team.yingyingmonster.ccbs.database.bean.Log" >
    insert into LOG_TABLE (LOGID, LOGTIME, LOGLEVEL, 
      LOGCLASS, LOGLOCATE, LOGTHREAD, 
      LOGMESSAGE)
    values (#{logid,jdbcType=DECIMAL}, #{logtime,jdbcType=TIMESTAMP}, #{loglevel,jdbcType=VARCHAR}, 
      #{logclass,jdbcType=VARCHAR}, #{loglocate,jdbcType=VARCHAR}, #{logthread,jdbcType=VARCHAR}, 
      #{logmessage,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="team.yingyingmonster.ccbs.database.bean.Log" >
    insert into LOG_TABLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logid != null" >
        LOGID,
      </if>
      <if test="logtime != null" >
        LOGTIME,
      </if>
      <if test="loglevel != null" >
        LOGLEVEL,
      </if>
      <if test="logclass != null" >
        LOGCLASS,
      </if>
      <if test="loglocate != null" >
        LOGLOCATE,
      </if>
      <if test="logthread != null" >
        LOGTHREAD,
      </if>
      <if test="logmessage != null" >
        LOGMESSAGE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logid != null" >
        #{logid,jdbcType=DECIMAL},
      </if>
      <if test="logtime != null" >
        #{logtime,jdbcType=TIMESTAMP},
      </if>
      <if test="loglevel != null" >
        #{loglevel,jdbcType=VARCHAR},
      </if>
      <if test="logclass != null" >
        #{logclass,jdbcType=VARCHAR},
      </if>
      <if test="loglocate != null" >
        #{loglocate,jdbcType=VARCHAR},
      </if>
      <if test="logthread != null" >
        #{logthread,jdbcType=VARCHAR},
      </if>
      <if test="logmessage != null" >
        #{logmessage,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="team.yingyingmonster.ccbs.database.bean.Log" >
    update LOG_TABLE
    <set >
      <if test="logtime != null" >
        LOGTIME = #{logtime,jdbcType=TIMESTAMP},
      </if>
      <if test="loglevel != null" >
        LOGLEVEL = #{loglevel,jdbcType=VARCHAR},
      </if>
      <if test="logclass != null" >
        LOGCLASS = #{logclass,jdbcType=VARCHAR},
      </if>
      <if test="loglocate != null" >
        LOGLOCATE = #{loglocate,jdbcType=VARCHAR},
      </if>
      <if test="logthread != null" >
        LOGTHREAD = #{logthread,jdbcType=VARCHAR},
      </if>
      <if test="logmessage != null" >
        LOGMESSAGE = #{logmessage,jdbcType=CLOB},
      </if>
    </set>
    where LOGID = #{logid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="team.yingyingmonster.ccbs.database.bean.Log" >
    update LOG_TABLE
    set LOGTIME = #{logtime,jdbcType=TIMESTAMP},
      LOGLEVEL = #{loglevel,jdbcType=VARCHAR},
      LOGCLASS = #{logclass,jdbcType=VARCHAR},
      LOGLOCATE = #{loglocate,jdbcType=VARCHAR},
      LOGTHREAD = #{logthread,jdbcType=VARCHAR},
      LOGMESSAGE = #{logmessage,jdbcType=CLOB}
    where LOGID = #{logid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.yingyingmonster.ccbs.database.bean.Log" >
    update LOG_TABLE
    set LOGTIME = #{logtime,jdbcType=TIMESTAMP},
      LOGLEVEL = #{loglevel,jdbcType=VARCHAR},
      LOGCLASS = #{logclass,jdbcType=VARCHAR},
      LOGLOCATE = #{loglocate,jdbcType=VARCHAR},
      LOGTHREAD = #{logthread,jdbcType=VARCHAR}
    where LOGID = #{logid,jdbcType=DECIMAL}
  </update>
</mapper>