<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.yingyingmonster.ccbs.database.mapper.juergenie.JuerBillMapper" >
    <resultMap id="BaseResultMap" type="team.yingyingmonster.ccbs.database.bean.Bill" >
        <id column="BILLID" property="billid" jdbcType="DECIMAL" />
        <result column="USERCHECKID" property="usercheckid" jdbcType="DECIMAL" />
        <result column="CHECKID" property="checkid" jdbcType="DECIMAL" />
        <result column="BILLSTATE" property="billstate" jdbcType="DECIMAL" />
        <result column="BILLDATE" property="billdate" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        BILLID, USERCHECKID, CHECKID, BILLSTATE, BILLDATE
    </sql>

    <select id="getNewId" resultType="long" flushCache="true">
        select BILL_SEQUENCE.nextval from dual
    </select>

    <select id="selectAllPriceByBillList" resultType="double">
        select sum(CHECKPRICE) from CHECK_TABLE where CHECKID in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.checkid}
        </foreach>
    </select>

    <insert id="insertBatch" parameterType="list">
        insert into BILL_TABLE(BILLID, USERCHECKID, CHECKID)
        select * from
        <foreach collection="list" item="item" open="(" separator="union all" close=")">
            select #{item.billid}, #{item.usercheckid}, #{item.checkid} from dual
        </foreach>
    </insert>
</mapper>
