<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.yingyingmonster.ccbs.database.mapper.juergenie.JuerComboMapper" >
    <resultMap id="BaseResultMap" type="team.yingyingmonster.ccbs.database.bean.Combo" >
        <id column="COMBOID" property="comboid" jdbcType="DECIMAL" />
        <result column="COMBONAME" property="comboname" jdbcType="VARCHAR" />
        <result column="COMBOSUMMARY" property="combosummary" jdbcType="VARCHAR" />
        <result column="COMBORATIO" property="comboratio" jdbcType="DECIMAL" />
    </resultMap>

    <select id="selectAllCombo" resultMap="BaseResultMap">
        select * from COMBO_TABLE
    </select>
    <select id="selectComboByCondition" resultMap="BaseResultMap" parameterType="team.yingyingmonster.ccbs.database.bean.Combo">
        select * from COMBO_TABLE
        <where>
            <if test="comboid != null">and COMBOID=#{comboid}</if>
            <if test="comboname != null">and COMBONAME like #{comboname}</if>
            <if test="comboratio != null">and COMBORATIO=#{comboratio}</if>
            <if test="combosummary != null">and COMBOSUMMARY like #{combosummary}</if>
        </where>
    </select>
</mapper>