<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.yingyingmonster.ccbs.database.mapper.dingli.DingRoleMapper" >
  <resultMap id="BaseResultMap" type="team.yingyingmonster.ccbs.database.bean.Role" >
    <id column="ROLEID" property="roleid" jdbcType="DECIMAL" />
    <result column="ROLENAME" property="rolename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROLEID, ROLENAME
  </sql>
  <select id="selectAllRole" resultMap="BaseResultMap">
        select * from ROLE_TABLE
    </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ROLE_TABLE
    where ROLEID = #{roleid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ROLE_TABLE
    where ROLEID = #{roleid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="team.yingyingmonster.ccbs.database.bean.Role" >
    insert into ROLE_TABLE (ROLEID, ROLENAME)
    values (#{roleid,jdbcType=DECIMAL}, #{rolename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="team.yingyingmonster.ccbs.database.bean.Role" >
    insert into ROLE_TABLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        ROLEID,
      </if>
      <if test="rolename != null" >
        ROLENAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        #{roleid,jdbcType=DECIMAL},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="team.yingyingmonster.ccbs.database.bean.Role" >
    update ROLE_TABLE
    <set >
      <if test="rolename != null" >
        ROLENAME = #{rolename,jdbcType=VARCHAR},
      </if>
    </set>
    where ROLEID = #{roleid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.yingyingmonster.ccbs.database.bean.Role" >
    update ROLE_TABLE
    set ROLENAME = #{rolename,jdbcType=VARCHAR}
    where ROLEID = #{roleid,jdbcType=DECIMAL}
  </update>
</mapper>