<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.yingyingmonster.ccbs.database.mapper.dingli.DingCheckListMapper" >
  <resultMap id="BaseResultMap" type="team.yingyingmonster.ccbs.database.bean.Check" >
    <id column="CHECKID" property="checkid" jdbcType="DECIMAL" />
    <result column="DEPTID" property="deptid" jdbcType="DECIMAL" />
    <result column="CHECKNAME" property="checkname" jdbcType="VARCHAR" />
    <result column="CHECKPRICE" property="checkprice" jdbcType="DECIMAL" />
    <association property="deptByDeptid" resultMap="DeptResultMap"/>
  </resultMap>
  <resultMap id="DeptResultMap" type="team.yingyingmonster.ccbs.database.bean.Dept">
    <result column="DEPTNAME" property="deptname" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    CHECKID, DEPTID, CHECKNAME, CHECKPRICE
  </sql>
  <select id="selectAllCheck" resultMap="BaseResultMap">
        select*from (select a.*,b.DEPTNAME from CHECK_TABLE a,DEPT_TABLE b WHERE a.DEPTID = b.DEPTID)
    </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from CHECK_TABLE
    where CHECKID = #{checkid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from CHECK_TABLE
    where CHECKID = #{checkid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="team.yingyingmonster.ccbs.database.bean.Check" >
    insert into CHECK_TABLE (CHECKID, DEPTID, CHECKNAME, 
      CHECKPRICE)
    values (#{checkid,jdbcType=DECIMAL}, #{deptid,jdbcType=DECIMAL}, #{checkname,jdbcType=VARCHAR}, 
      #{checkprice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="team.yingyingmonster.ccbs.database.bean.Check" >
    insert into CHECK_TABLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="checkid != null" >
        CHECKID,
      </if>
      <if test="deptid != null" >
        DEPTID,
      </if>
      <if test="checkname != null" >
        CHECKNAME,
      </if>
      <if test="checkprice != null" >
        CHECKPRICE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="checkid != null" >
        #{checkid,jdbcType=DECIMAL},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=DECIMAL},
      </if>
      <if test="checkname != null" >
        #{checkname,jdbcType=VARCHAR},
      </if>
      <if test="checkprice != null" >
        #{checkprice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="team.yingyingmonster.ccbs.database.bean.Check" >
    update CHECK_TABLE
    <set >
      <if test="deptid != null" >
        DEPTID = #{deptid,jdbcType=DECIMAL},
      </if>
      <if test="checkname != null" >
        CHECKNAME = #{checkname,jdbcType=VARCHAR},
      </if>
      <if test="checkprice != null" >
        CHECKPRICE = #{checkprice,jdbcType=DECIMAL},
      </if>
    </set>
    where CHECKID = #{checkid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.yingyingmonster.ccbs.database.bean.Check" >
    update CHECK_TABLE
    set DEPTID = #{deptid,jdbcType=DECIMAL},
      CHECKNAME = #{checkname,jdbcType=VARCHAR},
      CHECKPRICE = #{checkprice,jdbcType=DECIMAL}
    where CHECKID = #{checkid,jdbcType=DECIMAL}
  </update>
</mapper>