<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.yingyingmonster.ccbs.database.mapper.dingli.DingDeptMapper" >
  <resultMap id="BaseResultMap" type="team.yingyingmonster.ccbs.database.bean.Dept" >
    <id column="DEPTID" property="deptid" jdbcType="DECIMAL" />
    <result column="DEPTNAME" property="deptname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    DEPTID, DEPTNAME
  </sql>
  <select id="selectAllDept" resultMap="BaseResultMap">
        select * from DEPT_TABLE
    </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from DEPT_TABLE
    where DEPTID = #{deptid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from DEPT_TABLE
    where DEPTID = #{deptid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="team.yingyingmonster.ccbs.database.bean.Dept" >
    insert into DEPT_TABLE (DEPTID, DEPTNAME)
    values (#{deptid,jdbcType=DECIMAL}, #{deptname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="team.yingyingmonster.ccbs.database.bean.Dept" >
    insert into DEPT_TABLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deptid != null" >
        DEPTID,
      </if>
      <if test="deptname != null" >
        DEPTNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deptid != null" >
        #{deptid,jdbcType=DECIMAL},
      </if>
      <if test="deptname != null" >
        #{deptname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="team.yingyingmonster.ccbs.database.bean.Dept" >
    update DEPT_TABLE
    <set >
      <if test="deptname != null" >
        DEPTNAME = #{deptname,jdbcType=VARCHAR},
      </if>
    </set>
    where DEPTID = #{deptid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="team.yingyingmonster.ccbs.database.bean.Dept" >
    update DEPT_TABLE
    set DEPTNAME = #{deptname,jdbcType=VARCHAR}
    where DEPTID = #{deptid,jdbcType=DECIMAL}
  </update>
</mapper>