<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>账户管理-添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/assets/css/x-admin.css" media="all">
</head>

<body ng-app="addAccountApp">
<div class="x-body">
    <form ng-submit="submitForm()" ng-controller="addAccountController"
          method="post">
        <input type="hidden" value="addManager" name="method">
        <div class="layui-form-item">
            <label for="L_name" class="layui-form-label"> <span
                    class="x-red">*</span>设置账户名
            </label>
            <div class="layui-input-inline">
                <input type="text"  ng-model="account.accountname" name="accountname" id="accountname"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>必填 &nbsp<span style="color: red"
                                                          id="message"></span>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"> <span class="x-red">*</span>密码
            </label>
            <div class="layui-input-inline">
                <input type="password" ng-model="account.accountpassword" id="L_pass" name="accountpassword"
                       onblur="check2()" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">6到16个字符</div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label"> <span
                    class="x-red">*</span>确认密码
            </label>
            <div class="layui-input-inline">
                <input type="password" ng-model="account.accountpassword" id="L_repass" name="accountpassword" onblur="check3()"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_role" class="layui-form-label"> <span
                    class="x-red">*</span>角色
            </label>
            <select name="roleid" ng-model="account.roleid">
                <option value="1">团检单位</option>
                <option value="2">医生</option>
                <option value="3">总检医生</option>
                <option value="4">前台服务</option>
                <option value="5">管理员</option>
                <option value="6">超级管理员</option>
            </select>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label"> </label>
            <button type="submit" class="layui-btn">
                <font color="yellow">增加</font>
            </button>
            <button class="layui-btn" type="reset">重置</button>
        </div>
    </form>
</div>
<script src="/assets/lib/layui/layui.js" charset="utf-8">

</script>
<script src="/assets/js/x-layui.js" charset="utf-8">

</script>
<script src="/assets/scripts/angular.min.js"></script>
<script>
    var app = angular.module('addAccountApp', []);
    app.controller('addAccountController', function($scope, $http) {
        $scope.submitForm=function () {
            var data = {
                "accountname":$scope.accountname,
                "accountpassword":$scope.accountpassword,
                "roleid":$scope.roleid
            };
            //console.log("accountname"+$scope.accountname);
            $http.post("/accountList/account-management-add", data
            ).then(
                function success (msg) {
                    console.log(msg);
                    var msg = msg.data;
                    if (msg.state==200){
                        window.alert(msg.message);
                        window.location.href="/accountList/index";
                    }
                }, function error (msg) {
                    if (msg.state==400){
                        window.alert(msg.message);
                    }
                }
            )
        }
    });
    </script>
<script type="text/javascript">
   /* $(document)
        .ready(
            function() {
                $("REALNAME")
                    .blur(
                        function() {
                            var realName = document
                                .getElementById("REALNAME").value;
                            $
                                .ajax({
                                    url : "${pageContext.request.contextPath}/LoginServlet?method=checkName&REALNAME="
                                        + realName,
                                    async : true,
                                    success : function(
                                        data) {
                                        alert(data);
                                    }
                                });
                        });
            });*/
    /*function checkName() {
        var realName = document.getElementById("REALNAME").value;
        var req = getXMLHttpRequest();
        req.open("get",
            "${pageContext.request.contextPath}/LoginServlet?method=checkName="
            + realName, true);
        req.send();
        req.onreadystatechange = function() {
            if (req.readyState == 4 && req.status == 200) {
                if (req.responseText == "true") {
                    $("#message").text("用户名可用");
                } else {
                    $("#message").text("用户名已存在！");
                }
            }
        }
    }*/
    /*function check1() {
        var Username = document.getElementById("accountName").value;

        if (Username == "")

            alert("请设置账户名！");
    }*/
    function check2() {
        var pwd = document.getElementById("L_pass").value;
        if (pwd == "")
            alert("请输入密码");
    }
    function check3() {
        var pwd = document.getElementById("L_repass").value;
        if (pwd == "")
            alert("请确认密码");
    }

</script>
</body>
</html>
