<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="team.yingyingmonster.ccbs.database.dingli.RoleListMapper" >
  <resultMap id="BaseResultMap" type="team.yingyingmonster.ccbs.database.bean.Role" >
    <id column="ROLEID" property="roleid" jdbcType="DECIMAL" />
    <result column="ROLENAME" property="rolename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROLEID, ROLENAME
  </sql>
  <select id="selectAllRole" resultType="team.yingyingmonster.ccbs.database.bean.Role" >
      select * from ROLE_TABLE;
  </select>
</mapper>