<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/toastr.min.css" rel="stylesheet"/>
    <link href="/assets/css/open-iconic-bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/juer-style.css" rel="stylesheet"/>
</head>
<body>
    <h1>新用户注册</h1>
    <div ng-app="registerApp" ng-controller="registerController" name="registerForm" novalidate class="col-lg-8">
        <p class="input-group">
            <span class="input-group-append">用户名</span>
            <input name="accountName" ng-model="accountName" required type="text" class="form-control" placeholder="请输入用户名">
            <span ng-show="registerForm.accountName.$error.required">必须输入用户名</span>
        </p><br>
        <p class="input-group input-group-lg">
            <span class="input-group-append">设置密码</span>
            <input name="accountPassword" ng-model="accountPassword" required type="password" class="form-control" placeholder="请输入密码">
            <span ng-show="registerForm.accountPassword.$error.required">必须输入密码</span>
        </p>
        <p class="input-group input-group-lg">
            <span class="input-group-append">确认密码</span>
            <input name="reaccountPassword" ng-model="reaccountPassword" required type="password" class="form-control" placeholder="请再次输入密码">
            <span ng-show="registerForm.reaccountPassword.$error.required">必须再次输入密码</span>
            <span ng-show="registerForm.reaccountPassword.$error.equals(accountPassword,reaccountPassword)">输入的密码不一致</span>
        </p>
        <p class="input-group input-group-lg">
            <span class="input-group-append">联系电话</span>
            <input name="companyPhone" ng-model="companyPhone" required type="text" class="form-control" placeholder="请输入电话号码">
            <span ng-show="registerForm.companyPhone.$error.required">必须输入电话号码</span>
            <span ng-show="registerForm.companyPhone.$error.phone">非法的电话号码</span>
        </p>
        <p class="input-group input-group-lg">
            <span class="input-group-append">邮箱地址</span>
            <input class="companyEmail" ng-model="companyEmail" required type="text" placeholder="请输入电子邮箱地址">
            <span ng-show="registerForm.companyEmail.$error.required">必须输入电子邮箱</span>
            <span ng-show="registerForm.companyEmail.$error.email">非法的邮箱地址</span>
        </p>
        <p>
            <button type="button" class="btn-primary" ng-disabled="registerForm.accountName.$dirty && registerForm.accountName.$invalid ||
                registerForm.accountPassword.$dirty && registerForm.accountPassword.$invalid ||
                registerForm.reaccountPassword.$dirty && registerForm.reaccountPassword.$invalid ||
                registerForm.companyPhone.$dirty && registerForm.companyPhone.$invalid ||
                registerForm.companyEmail.$dirty && registerForm.companyEmail.$invalid">注册</button>
        </p>

    </div>
<form></form>
</body>
<script src="/assets/scripts/angular.min.js"></script>
<script src="/assets/scripts/jquery.min.js"></script>
<script src="/assets/scripts/bootstrap.min.js"></script>
<script src="/assets/scripts/bootstrap.bundle.min.js"></script>
<script src="/assets/scripts/toastr.min.js"></script>
<script src="/assets/scripts/md5.min.js"></script>
<script src="/assets/scripts/base64.min.js"></script>
<script src="/assets/scripts/juer-script.js"></script>

<script>
    var app = angular.module('registerApp', []);
    app.controller('registerController', function($scope) {
    });
</script>
</html>